<h1 class="text-center my-5">{{ title }}</h1>


<div class="d-flex justify-content-center">
  <div class="w-25">
    <div class="form-group">

      <input type="email" class="form-control mt-3"
             placeholder="Email" maxlength="50"
             [(ngModel)]="email"/>

      <input type="text" class="form-control mt-3"
             placeholder="Username" maxlength="50"
             [(ngModel)]="username"/>

      <input type="password" class="form-control mt-3"
             placeholder="Password" maxlength="50"
             [(ngModel)]="password"/>
    </div>
  </div>
</div>

<div *ngIf="invalid" class="text-danger text-center">
  <p class="error">The username or the email is already in use</p>
</div>

<div class="text-center">
  <a id="login" routerLink="/login">Login</a>
</div>

<div class="d-flex justify-content-center mt-3">
  <button class="btn btn-primary w-25 custom-style" [disabled]="isInvalid()" (click)="register()">Register</button>
</div>
